{% extends 'barberLayout.twig' %}

{% block title %}
Reserve Time
{% endblock %}
{% block content %}
<h3>{{ formParameters.firstname }} {{ formParameters.surname }}is reserved on {{ formParameters.arrival|date("Y-m-d") }} at {{ formParameters.arrival|date("H:i") }}!</h3>
<h4>Phone Number {{ formParameters.phone }}</h4>
    <form action="/barber"  method="get">
    <button type="submit" value="checkReservation">Check Reservation</button> 
    </form>
{% endblock %}