{% extends 'barberLayout.twig' %}

{% block title %}
Times
{% endblock %}
{% block content %}
<form action="/barber/newReservation" method="GET" >
    <input type="date" name="reservationDate" 
        value="{{ today|date("Y-m-d") }}" 
        min="{{ today|date("Y-m-d") }}" 
        max="{{ today|date_modify("+14 day")|date("Y-m-d") }}">
    <input type="submit">
</form>
<hr>
<form action="/barber/newReservation" method="get">
    <input type="hidden" name="barber" value="barber">
    <button type="submit" name="reservationDate" value="{{ today }}">Available Today</button> 
    <input type="hidden" name="barber" value="barber">
    <button type="submit" name="reservationDate" value="{{ tomorrow }}">Available Tomorrow</button>
</form>
<table>
    <thead>
        <th>Available Time</th>
        <th>Reserve</th>
        <th></th>
    </thead>
{% for time in availableTimes|slice((currentPage - 1) * pageLength, pageLength) %}
    <tr>
        <td>{{ time }}</td>
        <td>
            <form action="/barber/reserve" method="get">
            <input type="hidden" name="barber" value="barber">    
            <button type="submit" name="reservationDate" value="{{ time }}">Reserve Time</button> 
        </td>
    </tr>
{% endfor %}
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            {% if currentPage != 1 %}
            <a class="page-link" href="/barber/newReservation/{{ currentPage - 1 }}?barber=barber" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
            {% endif %}
        <li class="page-item">
            {% if not lastPage %}
            <a class="page-link" href="/barber/newReservation/{{ currentPage + 1 }}?barber=barber" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
  </ul>
</nav>
{% endif %}
{% endblock %}